.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #aa84eb ;
  color:floralwhite;
}
                          
.wwrap{
  word-wrap: break-word;
}
.d-flex > div{
  margin: 20px;
}